extends layout.pug

block content
  main(class="flex-grow flex flex-col items-center justify-center py-10 relative")
    div(class="overlay hidden fixed inset-0 bg-black bg-opacity-50 z-10")
    - for (var i = 1; i <= 100; i++)
      div(class="particle")
        i(class="fa fa-heart-o")
    div(class="text-center z-10")
      h2(class="fancyh1 text-3xl md:text-5xl text-pastel-pink mb-4") Reviva o romantismo saindo do básico
      p(class="text-base md:text-xl text-gray-600 max-w-xl mx-auto mb-6") O tradicional correio elegante agora digital, com mensagens personalizadas e criativas para surpreender quem você gosta.
      a(href="/create" class="learn-more") Escreva Sua Mensagem